@import "tailwindcss";

@theme {
  --font-sans: "Atkinson Hyperlegible", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
